In [1]:
a =20
a+= 5   # 결과값을 (해당)지정값으로 바꿈.

In [2]:
a

25

In [3]:
b = 95    # 1개일 때는 대입.
b ==90    # 데이터가 같은지 아닌지 확인하는것.

False

In [4]:
b !=90    # 같지 않다.

True

In [ ]:
b >=  90   # 이상 ,이하 를 사용할때는 부등호 먼저 입력.

In [5]:
b >= 90 and b<= 100   # and 값을 활용하여 값을 구하는 경우.

True

In [6]:
90 <= b <= 100        # 범위 지정 조건.

True

In [15]:
c = [1,2,'hello world']
d = [1,2,'hello world']
c==d

True

In [8]:
print(c)

[1, 2, 'hello world']

In [9]:
print(d)

[1, 2, 'hello world']

In [10]:
c != d

False

In [11]:
id(c)          # 컴퓨터에서 저장되어있는 아이디 값.

2497745555400

In [12]:
id(d)

2497755699080

In [13]:
c.append('A')
print(c)

[1, 2, 'hello world', 'A']

In [14]:
id(c)         # 저장소값은 일정하게 가져간다.

2497745555400

In [16]:
c is d

False

In [17]:
c is not d

True

In [18]:
e = True         # and 사용하면 둘다 참일때가 가능.
f = False
e == f

False

In [19]:
e and f

False

In [20]:
f and e

False

In [21]:
e or f            # or 은 하나만 참이여도 트루 가능.

True

In [22]:
not e

False

In [23]:
not f

True

In [24]:
not(e and f)

True

In [25]:
1 in c

True

In [26]:
3 in c

False

In [27]:
1 not in c       # 없지 않니. 없어.

False

In [28]:
g = {'a':1, 'b':2, 'c':3}

In [29]:
'a' in g

True

In [30]:
'k' in g

False

#  연산자 활용.

In [40]:
exam = [
{'num':'1', 'name':'김철수', 'kor':90, 'eng':80, 'math':85, 'total':0, 'avg':0.0, 'order':0},
{'num':'2', 'name':'박제동', 'kor':90, 'eng':85, 'math':90, 'total':0, 'avg':0.0, 'order':0}, 
{'num':'3', 'name':'홍길동', 'kor':80, 'eng':80, 'math':80, 'total':0, 'avg':0.0, 'order':0}  
] # ,를 중요하게 입력해줄것.

In [41]:
exam[0]

{'num': '1',
 'name': '김철수',
 'kor': 90,
 'eng': 80,
 'math': 85,
 'total': 0,
 'avg': 0.0,
 'order': 0}

In [42]:
exam[0]['total']

0

In [46]:
exam[0]['total']=1 # 총합을 구하기.

In [47]:
exam[0]['total']

1

In [50]:
exam[0]['total'] = exam[0]['kor'] + exam[0]['eng'] + exam[0]['math'] 
exam[1]['total'] = exam[1]['kor'] + exam[1]['eng'] + exam[1]['math'] 
exam[2]['total'] = exam[2]['kor'] + exam[2]['eng'] + exam[2]['math']

In [51]:
exam[0]['total']

255

In [52]:
exam[1]['total']

265

In [53]:
exam[2]['total']

240

In [54]:
exam[0]['avg']

0.0

In [61]:
exam[0]['avg'] = (exam[0]['kor'] + exam[0]['eng'] + exam[0]['math']) /3  
exam[1]['avg'] = (exam[1]['kor'] + exam[1]['eng'] + exam[1]['math']) /3
exam[2]['avg'] = (exam[2]['kor'] + exam[2]['eng'] + exam[2]['math']) /3

In [62]:
exam[0]['avg']

85.0

In [63]:
exam[1]['avg']

88.33333333333333

In [64]:
exam[2]['avg']

80.0

In [ ]:
# 학급 평균

In [85]:
class_avg = (exam[0]['total'] +exam[1]['total'] + exam[2]['total'] )/len(exam)

In [86]:
class_avg

253.33333333333334

In [87]:
# 학급의 과목별 평균.

In [88]:
class_avg = (exam[0]['kor'] +exam[1]['kor'] + exam[2]['kor'] )/len(exam) # 학급 국어 점수.

In [89]:
class_avg

86.66666666666667

In [90]:
class_eng = (exam[0]['eng'] +exam[1]['eng'] + exam[2]['eng'] )/len(exam) # 학급 영어 점수.

In [91]:
class_eng

81.66666666666667

In [92]:
class_math = (exam[0]['math'] +exam[1]['math'] + exam[2]['math'] )/len(exam) # 학급 수학 점수.

In [93]:
class_math

85.0

#  조건문.

In [ ]:
# if 문의 구조
if True : # if 6 >4 :    , if 문뒤에는 : 이 필수!!  true/false로 나누어서 가능하다.
    실행문
    print('참')
else :
    print('거짓')

In [94]:
if 6>4 :
    print('참')
else:
    print('거짓')

참

In [95]:
a =1000
if a > 5000 :
    print('택시를 탑니다.')
else:
    print('버스를 탑니다.')

버스를 탑니다.

In [99]:
grade = input('총 평점:')  # 새로운 값을 추가하고 싶을때.

총 평점: 4.3

In [100]:
type(grade)               # input 문은 문자열로 저장이 된다.

str

In [102]:
grade = float(input('총 평점 :'))  # float 함수를 이용하여 숫자형으로 바꿈.

총 평점 :4.3

In [103]:
type(grade)

float

In [105]:
if grade >= 4.0:
    print('장학금 수여')
    print('축하합니다')

장학금 수여
축하합니다

In [107]:
grade = float(input('총 평점 :'))     # input과 if 문을 활용하여 실행할때 마다 if 문을 편하게 사용할수있다.
if grade >= 4.0:
    print('장학금 수여')
    print('축하합니다')
else:
    print('장학금 대상이 아닙니다')

총 평점 :3
장학금 대상이 아닙니다

In [110]:
data = int(input('숫자입력 : '))      # 정수형

if data % 2 == 0:                           # 몫만 나오게 하는것.
    print('짝수')
else:
    print('홀수')

숫자입력 : 가나다

ValueError: invalid literal for int() with base 10: '가나다'

In [111]:
score = int(input('점수입력:'))

if score >= 70:
    print('합격')
else:
    print('불합격')

print('열심히 하세요!')   # 들여쓰기의 중요성.

점수입력:80
합격
열심히 하세요!

In [112]:
score = int(input('점수입력:'))    # 정수형

if score >= 70:
    print('합격')
else:
    print('불합격')
    print('열심히 하세요!')

점수입력:30
불합격
열심히 하세요!

In [ ]:
# 중첩된 조건문

In [115]:
age = int(input('나이 :'))
height = int(input('키: '))

if age >= 40:
    if height >= 170:
        print('키가 보통 이상')
    else:
        print('키가 보통')           # 참인 실행문.
else:
    if height >= 175:
        print('키가 보통 이상')
    else:
        print('키가 보통')

나이 :20
키: 172
키가 보통

In [117]:
score = int(input('총점:'))   # 수우미양가 

if score >= 90:
    print('수')
else:
    if 80<= score < 90:
        print('우')
    else:
        if score >= 70:
            print('미')
        else:
            if score >= 60:
                print('양')
            else:
                print('가')

총점:67
양

In [119]:
score = int(input('총점:'))   # 파이썬에서 가능한 간단한 코드. elif 적극 활용할것.

if score >= 90:
    print('수')
elif score >=80:
    print('우')
elif score >= 70:
    print('미')
elif score >= 60:
     print('양')
else:
     print('가')

총점:67
양

In [120]:
score = int(input('총점:'))     # 이런 조건문도 가능하다.
if score >= 60:
    message = 'success'
else:
    message = 'failure'
print(message)

총점:55
failure

In [122]:
score = int(input('총점:'))     # 조건문을 줄여뜨는 방법도 있다.
message = 'success' if score >= 60 else'failure'
print(message)

총점:67
success

In [124]:
ka = input('반갑습니다:')
ka

반갑습니다:반갑습니다

'반갑습니다'

In [125]:
a = input()       # 입력값 반갑습니다. 출력값 반갑습니다*2
print(a*2)

반갑습니다.
반갑습니다.반갑습니다.

In [126]:
a = int(input())  
print(a+20)       # 고정값을 더해서 나오는값.

30
50

In [127]:
a = int(input()) # 짝수만 나오게 하는 식(숙제.)
if
print(a%2)

2
0

In [135]:
a= int(input('입력값:'))
if a + 10 >255:
    print('출력값: 255')
else: 
    print ('출력값', a+10)

입력값:100
출력값 110

In [133]:
a = int(input())
if a:
    a>250
    print('255')
else :
    a <= 250
    print(a)

999
255

In [143]:
a = int(input())
if a - 10 > 0 :
    print(a - 10)
else :
    print ('출력값 : 0')

7
출력값 : 0

In [ ]:
# 현재 시간 :02:00
# 정각 출력
# 현재시간 : 03:10
# 정각이 아닙니다.

In [152]:
time = input('현재시간(00:00 형태)')
if time[3:] == '00' :
        print('정각')
else:
    print('정각이 아닙니다')

현재시간(00:00 형태)12:00
정각

In [ ]:
fruit = ['사과', '포도', '홍시']
좋아하는 과일은?

In [161]:
fruit = int(input('사과', '포도', '홍시'))
if fruit == ['사과', '포도', '홍시']:
    print('yes')
else :
    fruit != ['사과', '포도', '홍시'] :
    print('no')

SyntaxError: invalid syntax (<ipython-input-161-cdfd1ba78344>, line 5)

In [164]:
fruit = ['사과', '포도', '홍시']            # in 함수를 활용하여 정답/오답
a = input('좋아하는 과일은?')
if a in fruit :
    print('정답')
else:
    print('오답')

좋아하는 과일은?바나나
오답

In [166]:
invesrment_warining = ['Micrisift', 'Google', 'Nave', 'KaKao', 'SAMSUNG', 'LG']
a = input('투자종목 :')
if a in invesrment_warining:
    print('투자경고!')
else :
    print('투자경고 종목이 아닙니다.')

투자종목 :바나나
투자경고 종목이 아닙니다.

In [168]:
fruit = {'봄':'딸기', '여름':'토마토', '가을':'사과'} # 딕셔너리 타입의 in 함수로 인한 계산값.

a = input('과일명 :')
if a in fruit:
    print('정답')
else :
    print('오답')

과일명 :봄
정답

In [170]:
fruit = {'봄':'딸기', '여름':'토마토', '가을':'사과'}
'딸기'in fruit.values()                         # values 값을 통하여 딕셔너리도 구할수 있다.

a = input('좋아하는 과일은?')
if a in fruit.values():
    print('정답')
else :
    print('오답')

좋아하는 과일은?토마토
정답