# 함수(사용자 정의함수)

In [1]:
#사용자 정의함수

# 1번째 경우의 수

def yyyyyy():       # 함수명
    print('Hello World')
    print('Hello World')
    print('Hello World')
    # 실행문 2 ...

In [4]:
yyyyyy()

Hello World
Hello World
Hello World

In [5]:
# 2번째 경우의 수


def y(a,b):       # 괄호 안에 매개변수, 혹은 parameter
    return a+b

In [8]:
y(3, 4)          # 인수 argument

7

In [9]:
# 매개변수를 지정하지 않고 빈괄호.

def ya():
    return 'q'

In [15]:
ya()

'q'

In [24]:
def y(a,b):
    print("%s, %s의 곱은 %s" %(a,b ,a*b))

In [25]:
print(y(9,10))            # none이 붙는 이유는 print 문만 사용해서.

9, 10의 곱은 90
None

In [26]:
def q():
    print('q')

In [27]:
print(q())

q
None

In [30]:
# 매개변수 호출
def x(a,b):
    return a+b
result = x(9,10)

In [31]:
result

19

In [32]:
result = x(b=10, a=9)

In [33]:
result

19

In [36]:
# 매개변수가 몇개일지 모를때.


def single(*args):   
    result = 0
    for i in args:
        result = result +i
    return result

In [38]:
single(1,2,3,4,5,6,7,8,9,10)

55

In [40]:
# 매개변수가 지정된 문자열이 입력할때. 
# a값이 두개일때 편하게 사용하기 위해.
def single(a, *b):
    if a == 'cute':           # a자리는 'cute로 지정.'
        x = 0
        for i in b:
            x = x + i
    elif a == 'pretty':     
        x = 1
        for i in b:          # b자리는 여러개로 다양하게 지정가능.
            x= x * i
    return x

In [41]:
x = single('cute', 1,2,3,4,5)

In [42]:
x1 = single('pretty', 1,2,3,4,5)

In [44]:
print(x)
print(x1)

15
120

In [45]:
def double(**kwargs) :   # 키워드 아큐먼트 # 특별하게 변수를 2개 넣고 딕셔너리를 자동으로 만드는법.
    print(kwargs)

In [47]:
double(a=10)

{'a': 10}

In [48]:
double(b=10, name= 30, num=30)

{'b': 10, 'name': 30, 'num': 30}

In [49]:
def double(a,b):              # 리턴 1개에 리턴값 2개.
    return a + b, a * b

In [50]:
x = double(9,10)
print(x)

(19, 90)

In [51]:
def double(a,b):              # 리턴은 1개 밖에 들어갈수 없다.
    return a+b
    return a*b

In [52]:
x = double(9,10)

In [53]:
print(x)

19

In [54]:
def single(a):        # 리턴만 두고 값을 구할때.
    if a == 'dog':
        return
    print("I am %s"%a)

In [55]:
single('dog')

In [56]:
single('human')

I am human

In [57]:
def Triple(name, age, woman=True):  # 입려을 하지 않으면 자연스레 true 값이 도출된다.
    print("Name:%s"%name)
    print("age %s"%age)
    if woman:
        print('female')
    else:
        print('male')

In [58]:
Triple("hana",27)

Name:hana
age 27
female

In [59]:
Triple("hana",27, True)

Name:hana
age 27
female

In [63]:
def Triple(name, woman=True, age ):  # 디폴드 값은 중간에 갈수없다. / 매개변수 뒤로 가야한다.
    print("Name:%s"%name)
    print("age %s"%age)
    if woman:
        print('female')
    else:
        print('male')

SyntaxError: non-default argument follows default argument (<ipython-input-63-4394f0a77867>, line 1)

In [67]:
def single(m):
    m = m + 1
    return m

In [68]:
m = single(9)

In [69]:
print(m)       #

10

In [72]:
m = 4         # 위에 있는 m 과 아래에 있는 m 은 다른것이다.
def single(m):
    m = m+1
    return m

In [73]:
m

4

In [74]:
# lamdba 함수

double = lambda a, b : a + b # def double(a,b): / return a+b

In [76]:
y = double(9,10)

In [77]:
y

19

In [87]:
def print_coin():
    print('비트코인')

In [88]:
print_coin()

비트코인

In [118]:
for i in range(10):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [100]:
def print_coins():
    for i in range(100):
    print('비트코인')

IndentationError: expected an indented block (<ipython-input-100-c4ac97094519>, line 3)

In [102]:
hello()
def hello:
    print("hi")

SyntaxError: invalid syntax (<ipython-input-102-1e0f4ba2a9e5>, line 2)

In [110]:
def print_hole():
    for i %2 == 0:
    print('True'):
    else i %2 != 0:
    print('false'):

SyntaxError: invalid syntax (<ipython-input-110-f0d4dad6968e>, line 2)

In [113]:
def 홀짝(num):            # 홀,짝 나오는 매개변수.
    if num % 2 ==1:
        return True
    else:
        return False

In [114]:
홀짝(5)

True

In [119]:
def avg_number(*a):
    result = 0
    for i in a:
        result += i
    return result / len(a)

In [120]:
avg_number(5,4,3,2,1)

3.0